@font-face {
  font-family: 'Antipasto';
  src: url('/assets/fonts/Antipasto-Pro-Regular-trial.ttf');
}

body {
  font-family: 'NombreDeFamilia', Arial, sans-serif;
}



td:nth-child(1) {
  width: 30%;
  text-align: left;
  font-weight: bold;
}
td:nth-child(2) {
  width: 70%;
  text-align: left;
}


.side-nav {
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 99;
  }

.texto_lista {
  font-size: 15pt;
}


.banner {
  border-radius: 10px;
  margin-top: 2rem;
  padding: 3rem;
  color: white;
  background-image: url('/assets/img/fondo_banner.png'); 
  background-size: cover;
  background-position: center;
  /* background-color: rgb(227, 24, 55);  */
  box-shadow: 0px 13px 24px 8px rgba(0,0,0,0.21);
-webkit-box-shadow: 0px 13px 24px 8px rgba(0,0,0,0.21);
-moz-box-shadow: 0px 13px 24px 8px rgba(0,0,0,0.21);

  margin-bottom: 5rem;
  text-align: center;
}

.titulo_fase {
  font-size: 50pt;
  color: #327abc;
  text-align: center;
  font-weight: bold;
}

.titulo_etapa {
  font-size: 40pt;
  text-align: center;
  color: #5e8cc7;
  font-weight: bold;
}

/*CSS*/
.my-sm-padding .col-sm {
  padding-left: 15px;
  padding-right: 15px;
}


td {
  text-align: center;
}


h2 {
  text-align: center;
}

.texto_principal {
  font-size: 20pt;
}

.li {
    padding-bottom: 5rem;
  }

 
#SideNavMenu {
  margin-top: 58px;
  padding-left: 25px;
}




/* Estilos del menú de navegación lateral */
/* #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #333;
    color: #fff;
  } */
  
  /* Estilos de los botones del menú */
  /* .sidebar-button {
    display: block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  } */
  /* 
  .sidebar-button:hover {
    background-color: #444;
  } */
  
  /* Estilos de los iconos */
  /* .sidebar-button i {
    margin-right: 10px;
  }
   */